html {
  --primary-dark-color: hsl(165, 95%, 10%);
  --primary-color: hsl(165, 95%, 30%);
  --primary-light-color: hsl(165, 95%, 50%);

  --page-background-color: white;
  --page-foreground-color: hsl(165, 95%, 10%);
  --page-secondary-foreground-color: hsl(165, 95%, 30%);
}
