##==================================================================================================
##  SPY - C++ Informations Broker
##  Copyright : SPY Contributors & Maintainers
##  SPDX-License-Identifier: MIT
##==================================================================================================
version: 2.1

commands:
  run_test:
    description: "Configure and run tests from a CMake Toolchain"
    parameters:
      desc:
        type: string
      tool:
        type: string
      proc:
        type: integer
        default: 4
      wrapper:
        type: string
        default: "cmake"
    steps:
      - run:
          name: << parameters.desc >>
          command:                                                                            |
            mkdir -p build && cd build                                                        &&
            << parameters.wrapper >> .. -G Ninja -DCMAKE_TOOLCHAIN_FILE=<< parameters.tool >> &&
            ninja unit -j << parameters.proc >> && ctest --output-on-failure -j << parameters.proc >>

jobs:
  x86_clang_debug:
    docker:
      - image: jfalcou/compilers:v4
    steps:
      - checkout
      - run_test:
          desc: Running Debug tests
          tool: "../test/toolchain/clang.x86.debug.cmake"

  x86_clang_release:
    docker:
      - image: jfalcou/compilers:v4
    steps:
      - checkout
      - run_test:
          desc: Running Release tests
          tool: "../test/toolchain/clang.x86.release.cmake"

  x86_gcc_debug:
    docker:
      - image: jfalcou/compilers:v4
    steps:
      - checkout
      - run_test:
          desc: Running Debug tests
          tool: "../test/toolchain/gcc.x86.debug.cmake"

  x86_gcc_release:
    docker:
      - image: jfalcou/compilers:v4
    steps:
      - checkout
      - run_test:
          desc: Running Release tests
          tool: "../test/toolchain/gcc.x86.release.cmake"

  ppc64_gcc_debug:
    docker:
      - image: jfalcou/compilers:v4
    steps:
      - checkout
      - run_test:
          desc: Running Debug tests
          tool: "../test/toolchain/gcc.ppc64.debug.cmake"

  ppc64_gcc_release:
    docker:
      - image: jfalcou/compilers:v4
    steps:
      - checkout
      - run_test:
          desc: Running Release tests
          tool: "../test/toolchain/gcc.ppc64.release.cmake"

  aarch64_gcc_debug:
    docker:
      - image: jfalcou/compilers:v4
    steps:
      - checkout
      - run_test:
          desc: Running Debug tests
          tool: "../test/toolchain/gcc.aarch64.debug.cmake"

  aarch64_gcc_release:
    docker:
      - image: jfalcou/compilers:v4
    steps:
      - checkout
      - run_test:
          desc: Running Release tests
          tool: "../test/toolchain/gcc.aarch64.release.cmake"

  emscripten:
    docker:
      - image: jfalcou/compilers:v4
    steps:
      - checkout
      - run_test:
          desc: Running Release tests
          wrapper: "emcmake cmake"
          tool: "../test/toolchain/emcc.cmake"

workflows:
  version: 2
  build_and_test:
    jobs:
      - emscripten
      - x86_clang_debug
      - x86_gcc_debug
      - ppc64_gcc_debug
      - aarch64_gcc_debug
      - x86_clang_release:
          requires:
            - x86_clang_debug
      - x86_gcc_release:
          requires:
            - x86_gcc_debug
      - ppc64_gcc_release:
          requires:
            - ppc64_gcc_debug
      - aarch64_gcc_release:
          requires:
            - aarch64_gcc_debug
